@charset "UTF-8";
 h3, ul, li, p {
     margin: 0;
}
 .banner {
     background-color: #11233b;
     color: white;
     padding: 10px 20px;
}
/* Make a hero image, styles from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_hero_image */
 .hero-image {
     background-image: url(../images/blackandwhite.jpg);
     height: 6em;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     display: block;
     padding: 10em;
     margin-top: 26px;
}
 #wrapper {
     text-align: center;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-shadow: -6px -1px 19px black;
}
 .welcome {
     font-size: 82px;
     color: oldlace;
}
/* End of hero image styles */
 body {
     width: 960px;
     margin-left: auto;
     margin-right: auto;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 15px;
}
 .title {
     text-align: center;
     padding-top: 10px;
     padding-bottom: 10px;
}
 .h3body {
     text-align: center;
     color: burlywood;
     text-shadow: 1px 1px black;
     font-size: 30px;
     font-family:'serif';
}
 nav {
     background-color: white;
     padding: 10px;
     margin-top: 1px;
     border-top: 1px solid #909090;
     border-bottom: 1px solid #909090;
     margin-bottom: 10px;
     text-align: center;
}
 .navlist {
     display: inline;
     margin-left: 15px;
     margin-right: 15px;
     font-size: 25px;
     font-variant: small-caps;
     padding: 10px;
}
/* How to remove underline https://stackoverflow.com/questions/2041388/how-to-remove-the-underline-for-anchorslinks/2041404 */
 .navitems {
     color: black;
     text-decoration: none;
     padding: 3px 5px ;
     border: none;
     border-radius: 2px;
}
/* Using Google Colour Picker for the RGB values */
 .navitems:hover {
     color: rgb(6, 98, 196);
     background-color: rgb(234, 234, 234);
}
 .navitems:active {
     color: rgb(6, 98, 196);
     background-color: rgb(234, 234, 234);
}
 li a {
     color: white;
}
 section {
     padding: 5px;
}
/* Content images */
 .contentimage {
     height: 404px;
     border: 1px solid rgb(187, 187, 187);
     padding: 5px;
     width: 906px;
     border-radius: 8px;
}
 .imagethree {
     height: 200px;
     width: 300px;
}
 .imagefour {
     height: 200px;
     width: 300px;
}
 .topbtn {
     float: right;
     background-color: rgb(216, 214, 214);
     border: none;
     border-radius: 4px;
     color: white;
     text-align: center;
     text-decoration: none;
     font-size: 20px;
     padding: 10px;
     margin-top: 0.6em;
}
 .topbtn:hover {
     color: rgb(6, 98, 196);
     background-color: rgb(234, 234, 234);
}
 footer {
     margin-top: 0px;
     clear: both;
     padding: 1.2em;
     font-size: 0.8em;
     font-weight: bold;
     color: black;
}
 .footerclicked:visited {
     color: grey;
}
/* Font styles for content and headings https://www.w3schools.com/cssref/css_websafe_fonts.asp */
 .content {
     font-family: "Tahoma", "Geneva", "sans-serif";
     font-size: 1em;
     letter-spacing: 1.5px;
     text-align: justify;
     border: 2px solid #FFF;
     padding-bottom: 10px;
     line-height: 1.2em;
}
 .headings {
     font-family: "Verdana", "Geneva", "sans-serif";
     font-size: 1.2em;
     text-align: center;
}
 article {
     padding: 10px 15px;
     border-style: solid;
     border-color: white;
}
 .topsection {
     padding: 5px;
     margin-top: 10px;
}
 .introleft {
     float: left;
     width: 48%;
     margin-top: 2em;
}
 .introright {
     float: left;
     width: 52%;
     margin-top: 2em;
}
 .divorigins {
     display: inline-block;
}
 
